<div class="container">
    <div class="row">
         <h3> About MessageProcessor (c)</h3>
         <hr>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="well">
                <p>Thanks for playing around with this simple message processing app!</p>
                <p>You might want to ask - What does this app do? Here's a quick explanation...</p>
                <p>As a user, your job is to process incoming messages that are sent to you. You can see your todo list in the blue
                    box in the right hand side. There are two types of messages - a birthday with and a congrats message for the birth of 
                    a new child. You have to select the gift if it is a birthday message or you have to select the baby's name and birthdate 
                    if it's a congrats message.</p>

                <p> Once you have processed a message, it'll then appear in the green box on the right. Have fun!! :) </p>
            </div>
        </div>
    </div>

</div>

